bcrypt
blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fastapi
fonttools
fsspec
idna
itsdangerous
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
scipy
streamlit
six
sympy
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-thop
urllib3
uvicorn

